@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #fe4775;
  --secondary-bg-color: #161060;
  --headline-color: #393939;
  --primary-text-color: #111111;
  --secondary-text-color: #ffffff;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;

  font-family: var(--primary-font-family);
}

h2 {
  font-size: 3em;
  font-weight: 100;
  color: var(--headline-color);
}

.input {
  border: none;
  color: var(--headline-color);
  opacity: 21%;
  outline: none;
  font-size: 3em;
}

h3 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
}

/*input[type="radio"]:checked + label {
  color: #fe4775;
}*/

input.focus {
  color: #fe4775;
}
